#ignore all files
*
!*/

target/

#except the following files
!.gitignore
!.clang-format
!*.cpp
!*.hpp
!*.c
!*.h
!*.inl
!*.inc

!*.sh
!*.go

!*.ply

!*.hlsl
!*.fragment

!*.md
!*.jpg
!*.txt
!*.html

!*.ini
!*.bat

#except the following folders
